builder:
  image: sagacify/docker-sbt:latest
  command: sbt test
  environment:
    APP_PORT: 8081
    TEST: "true"
    RUN_ENV: test
    TEST_DEFAULT: "true"
    opt3: from_env_3
    opt4: from_env_4
    required2: 2
  ports:
    - "18081:8081"
  volumes:
    - ~/.ivy2:/root/.ivy2
    - ./src:/app/src
    - ./project:/app/project
    - ./build.sbt:/app/build.sbt
    - ./target:/app/target
    - ./config:/app/config
